.container {
    background-color: #f1f1f1;
    padding: 20px;
  }

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
  }

#messageLenght, #messageHello {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }

  #messageLenght, #messageHello p {
    padding: 10px 35px;
    font-size: 18px;
  }
#validation {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#validation p {
    padding: 10px 35px;
    font-size: 18px;
  }
.valid {
    color: green;
  }

  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }

.invalid {
    color: red;
  }

  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }